<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.back.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.bishe.back.domain.Message">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="friendId" jdbcType="INTEGER" property="friendId"/>
        <result column="senderId" jdbcType="INTEGER" property="senderId"/>
        <result column="receiverId" jdbcType="INTEGER" property="receiverId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="sendTime" jdbcType="TIMESTAMP" property="sendTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,friendId,senderId,content,receiverId,
        status,sendTime
    </sql>

    <insert id="insert" parameterType="com.bishe.back.domain.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="friendId != null">
                friendId,
            </if>
            <if test="senderId != null">
                senderId,
            </if>
            <if test="receiverId != null">
                receiverId,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="status != null">
                status,
            </if>
            sendTime,
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="friendId != null">
                #{friendId},
            </if>
            <if test="senderId != null">
                #{senderId},
            </if>
            <if test="receiverId != null">
                #{receiverId},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="status != null">
                #{status},
            </if>
            now(),
        </trim>
    </insert>

    <update id="updateStatus" parameterType="com.bishe.back.domain.Message">
        update message
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="friendId != null">
                friendId = #{friendId},
            </if>
<!--            <if test="senderId != null">-->
<!--                senderId = #{senderId},-->
<!--            </if>-->
<!--            <if test="receiverId != null">-->
<!--                receiverId = #{receiverId},-->
<!--            </if>-->
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="sendTime != null">
                sendTime = #{sendTime},
            </if>
        </set>
        where senderId = #{senderId} and receiverId = #{receiverId}
    </update>

    <delete id="deleteAll" parameterType="java.lang.Integer">
        delete
        from message
        where userId = #{userId}
    </delete>

    <delete id="delFriendRecord" parameterType="java.lang.Integer">
        delete
        from message
        where userId = #{userId} and friendId = #{friendId}
    </delete>

    <select id="friendRecord" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from message
        where userId = #{userId} and friendId = #{friendId}
    </select>

    <select id="allRecord" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from message
        where userId = #{userId} GROUP BY friendId
    </select>

    <select id="allFriendUnRead" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from message
        where receiverId = #{receiverId} and friendId = #{friendId} and senderId = #{senderId} and status=1
    </select>

    <select id="allUnRead" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from message
        where userId = #{userId} and status=1
    </select>

</mapper>